:root {
  /* margin */
  --isc-margin-auto: auto;
  --isc-margin-0: 0;
  --isc-margin-1: 1%;
  --isc-margin-0-10: 0 10px;

  --isc-margin-userBox: var(--isc-margin-0-10);
  --isc-mg-user-btn: var(--isc-margin-1);
  --isc-margin-divMenu: var(--isc-margin-0-10);

  /* gap */
  --isc-gap-5: 5px;
  --isc-gap-8: 8px;
  --isc-gap-18: 18px;

  --isc-gap-userBox: var(--isc-gap-18);
  --isc-gap-searchBar: var(--isc-gap-18);
  --isc-gap-likes-photos: var(--isc-gap-5);
  --isc-gap-bottomBox: var(--isc-gap-8);
  --isc-gap-main-button: var(--isc-gap-18);

  /* padding */
  --isc-padding-0: 0;
  --isc-padding2p: 2%;
  --isc-padding-2: 2px;
  --isc-padding-5: 5px;
  --isc-padding-0-30: 0px 30px;
  --isc-padding-10-18: 10px 18px;
  --isc-padding-15-1: 4% 1%;

  --isc-padding-nav-bar: var(--isc-padding-10-18);
  --isc-padding-search-bar: var(--isc-padding-0-30);
  --isc-padding-btn-userName: var(--isc-padding-5);
  --isc-padding-divFooter: var(--isc-padding-2);
  --isc-padding-imgContainer: var(--isc-padding-15-1);
  --isc-padding-dp-content: var(--isc-padding2p);

  /* display */
  --isc-d-none: none;
  --isc-d-flex: flex;

  /* flex properties */
  --isc-fd-column: column;

  --isc-jc-flex-start: flex-start;
  --isc-jc-flex-end: flex-end;
  --isc-jc-flex-center: center;
  --isc-jc-flex-space-evenly: space-evenly;
  --isc-jc-flex-space-between: space-between;

  --isc-ai-flex-center: center;

  --isc-jc-cancelIcon: var(--isc-jc-flex-end: );

  /* colors */
  --isc-color-white: #fcfefe;
  --isc-color-whiteTransp: #fcfefece;
  --isc-color-perlWhite: #dddcdce8;
  --isc-color-ligthgrey: #e5e5e5;
  --isc-color-lightengrey: #ececec;
  --isc-color-grey: #757575;
  --isc-color-black: #191919;
  --isc-color-red: #e43f3f;
  --isc-color-greenyellow: rgb(169, 230, 78);

  --isc-fc-active-btn-menu: var(--isc-color-white);
  --isc-bg-btn-menu: var(--isc-color-black);
  --isc-bg-user-btn: var(--isc-color-ligthgrey);
  --isc-bg-s-bar: var(--isc-color-lightengrey);
  --isc-color-hover-s-bar: var(--isc-color-ligthgrey);
  --isc-bg-footer: var(--isc-color-black);
  --isc-bg-NavBar: var(--isc-color-whiteTransp);
  --isc-color-ImagesNF: var(--isc-color-red);
  --isc-color-barMenu: var(--isc-color-black);
  --isc-bg-dp-content: var(--isc-color-perlWhite);

  /* box shadow */
  --isc-bs-user-btn: 0px 0px 10px 15px var(--isc-bg-user-btn);

  /* border */
  --isc-b-none: none;
  --isc-b-author: 10px solid var(--isc-color-greenyellow);
  --isc-b-dp-content: 1px solid var(--isc-color-black);

  /* border radius */
  --isc-br-50: 50%;
  --isc-br-5: 5px;
  --isc-br-30: 30px;
  --isc-br-3em: 3em;

  --isc-br-s-bar: var(--isc-br-30);
  --isc-br-user-btn: var(--isc-br-50);
  --isc-br-likes-photos: var(--isc-br-50);
  --isc-br-author: var(--isc-br-50);
  --isc-br-barMenu: var(--isc-br-3em);
  --isc-br-dp-content: var(--isc-br-5);

  /* typo */
  --isc-font-family: Inter;
  --isc-font-weight: 400;
  --isc-fc-footer: var(--isc-color-ligthgrey);

  /* font size */
  --isc-fs-primary: 24px;
  --isc-fs-secondary: 16px;

  /* position */
  --isc-pr: relative;
  --isc-pa: absolute;
  --isc-pf: fixed;

  --isc-position-NavBar: var(--isc-pf);

  /* others */
  --isc-logo-size: 40px;
}

* {
  margin: var(--isc-margin-0);
  padding: var(--isc-padding-0);
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--isc-font-family);
  font-weight: var(--isc-font-weight);
}

ol,
ul {
  list-style: none;
}

body {
  width: 100%;
  position: var(--isc-pr);
  display: var(--isc-d-flex);
  flex-direction: var(--isc-fd-column);
  justify-content: var(--isc-jc-flex-center);
  align-items: var(--isc-ai-flex-center);
}

.flex_container {
  display: var(--isc-d-flex);
  justify-content: var(--isc-jc-flex-center);
  align-items: var(--isc-ai-flex-center);
}

.flex_nav_bar {
  justify-content: var(--isc-jc-flex-space-evenly);
}

.display_none {
  display: var(--isc-d-none);
}
