div.main_button {
  width: 400px;
  height: 60px;
  gap: var(--isc-gap-main-button);
  justify-content: var(--isc-jc-flex-center);
  align-items: var(--isc-ai-flex-center);
  display: var(--isc-d-none);
}

.button_menu {
  width: 123px;
  font-size: var(--isc-fs-primary);
  background-color: transparent;
  border: var(--isc-b-none);
}

.button_menu:focus {
  border-radius: var(--isc-br-30);
  width: 30%;
  height: 100%;
  background-color: var(--isc-bg-btn-menu);
  color: var(--isc-fc-active-btn-menu);
}

@media screen and (min-width: 1000px) {
  div.main_button {
    display: var(--isc-d-flex);
  }
}
