.home {
  height: 100vh;
}

.home > p {
  font-size: var(--isc-fs-primary);
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
}

.div_card {
  flex-direction: var(--isc-fd-column);
  margin-bottom: 1rem;
  position: var(--isc-pr);
}

.div_card:hover > .div_img > img {
  filter: grayscale(80%);
}

.div_card:hover > .div_img > .div_likes,
.div_card:hover > .div_img > .div_photos,
.div_card:hover > .div_img > .div_author {
  opacity: 100%;
}

.p_error_m,
.p_m_nf {
  font-size: var(--isc-fs-primary);
  font-weight: 600;
  animation: errorMessage 2s ease-in-out forwards;
}

@keyframes errorMessage {
  0% {
    scale: 0;
  }
  50%,
  100% {
    scale: 1.5;
  }
}

.p_m_nf {
  color: var(--isc-color-ImagesNF);
}
