.div_card {
  display: block;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  outline: 1px solid black;
}

/* Posicionar .card > img */
/* Posicionar .bottom_box */
