.img_container {
  width: 100%;
  columns: 4;
  column-gap: 1rem;
  margin: 15% 0;
  padding: 2%;
  border: 1px solid orange;
}

.img_container div {
  break-inside: avoid;
}

.div_img > img {
  width: 100%;

  object-fit: cover;
  border-radius: 30px;
}

.div_img > img:hover {
  filter: blur(2px);
}

@media screen and (max-width: 865px) {
  .img_container {
    margin-top: 15%;
  }
}
