.search_bar {
  width: 241px;
  height: 60px;
  padding: var(--isc-padding-search-bar);
  gap: var(--isc-gap-searchBar);
  border-radius: var(--isc-br-s-bar);
  background-color: var(--isc-bg-s-bar);
  position: var(--isc-pr);
  z-index: 4;
}

.search_bar > input {
  width: 100%;
  height: 60px;
  font-size: var(--isc-fs-primary);
  line-height: 28px;
  text-align: left;
  color: var(--isc-color-grey);
  background-color: transparent;
  border: var(--isc-b-none);
  outline: none;
}

.search_bar > img {
  width: 32px;
  height: 32px;
}

.cancelIcon {
  order: 1;
  position: var(--isc-pr);
  left: 10px;
  justify-content: var(--isc-jc-cancelIcon);
  cursor: pointer;
}

.search_bar:hover {
  background-color: var(--isc-color-hover-s-bar);
}

@media screen and (min-width: 600px) {
  .search_bar {
    flex-grow: 1;
  }
}
