.div_menu {
  min-width: 40px;
  height: 40px;
  flex-direction: var(--isc-fd-column);
  position: var(--isc-pr);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  margin: var(--isc-margin-divMenu);
}

.bar_menu {
  width: 35px;
  height: 4px;
  border-radius: var(--isc-br-barMenu);
  background-color: var(--isc-color-barMenu);
  transition: all 0.5s ease-in-out;
}

.bar_menu::before,
.bar_menu::after {
  content: '';
  width: 35px;
  height: 4px;
  border-radius: var(--isc-br-barMenu);
  background-color: var(--isc-color-barMenu);
  position: var(--isc-pa);
  transition: all 0.5s ease-in-out;
}

.bar_menu::before {
  transform: translateY(-10px);
}

.bar_menu::after {
  transform: translateY(10px);
}

.open .bar_menu {
  transition: all 0.5s ease-in-out;
  transform: translateX(-35px);
  background-color: transparent;
}

.open .bar_menu::before {
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg) translate(24px, -24px);
}

.open .bar_menu::after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg) translate(24px, 24px);
  transition-delay: 200ms;
}

.dp_content {
  background-color: var(--isc-bg-dp-content);
  backdrop-filter: blur(0.4rem);
  border-radius: var(--isc-br-dp-content);
  border: var(--isc-b-dp-content);
  z-index: 1;
  width: 110px;
  height: 100px;
  padding: var(--isc-padding-dp-content);
  position: var(--isc-pa);
  left: 75px;
  top: 75px;
}

.dp_content ul {
  height: 100%;
  display: var(--isc-d-flex);
  flex-direction: var(--isc-fd-column);
  font: var(--isc-fs-secondary);
  justify-content: var(--isc-jc-flex-space-between);
}

.dp_content > ul li:hover {
  position: var(--isc-pr);
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  div.div_menu {
    display: var(--isc-d-none);
  }
}
