.navegation_bar {
  width: 100%;
  height: 100px;
  padding: var(--isc-padding-nav-bar);
  position: var(--isc-position-NavBar);
  top: 0;
  background-color: var(--isc-bg-NavBar);
}

.logo_container > img {
  width: var(--isc-logo-size);
  height: var(--isc-logo-size);
  cursor: pointer;
}
