.navegation_bar {
  width: 100vw;
  height: 100px;
  padding: var(--isc-padding-nav-bar);
  position: fixed;
  top: 0;
  background-color: #fcfefea1;
}

.logo_container > img {
  width: var(--isc-logo-size);
  height: var(--isc-logo-size);
}

@media screen and (min-width: 600px) {
  .button_menu,
  .user_button {
    display: block;
  }
}
