.div_footer {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: var(--isc-bg-footer);
  border: 1px solid black;
}

.div_footer > h3,
.div_footer > p {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--isc-fc-footer);
}

.div_footer > h3 {
  font-size: var(--isc-fs-primary);
  font-weight: 600;
}

.div_footer > p {
  font-size: var(--isc-fs-secondary);
}
