.user_box {
  height: 40px;
  min-width: 8%;
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.user_box button {
  border-radius: var(--isc-br-50);
  height: 100%;
  border: none;
  background-color: transparent;
}

.img_notification,
.img_message {
  display: none;
  visibility: hidden;
}

button.user_name {
  min-width: 40px;
  font-size: var(--isc-fs-primary);
  background-color: var(--isc-bg-user-btn);
  color: var(--isc-color-grey);
  border: none;
  place-content: center;
}

.user_box button:hover {
  background-color: var(--isc-bg-user-btn);
  box-shadow: var(--isc-bs-user-btn);
}

@media screen and (min-width: 600px) {
  .img_notification,
  .img_message {
    display: block;
  }
}
