.navegation_bar > .img_notification,
.navegation_bar > .img_message,
.navegation_bar > .user_name {
  border-radius: var(--isc-br-user-btn);
  height: 40px;
  border: none;
  background-color: transparent;
  margin: var(--isc-mg-user-btn);
}

.navegation_bar > button.user_name {
  min-width: 40px;
  min-height: 40px;
  color: var(--isc-color-grey);
  font-size: var(--isc-fs-primary);
  background-color: var(--isc-bg-user-btn);
}

.img_notification,
.img_message {
  object-fit: contain;
  height: 100%;
}

.navegation_bar > button:first-of-type:hover {
  background-color: var(--isc-bg-user-btn);
  box-shadow: var(--isc-bs-user-btn);
}

.navegation_bar > button:nth-of-type(2):hover {
  background-color: var(--isc-bg-user-btn);
  box-shadow: var(--isc-bs-user-btn);
}

.navegation_bar > button.user_name:hover {
  box-shadow: var(--isc-bs-user-btn);
}

/*! cartas */
.user_button.pics {
  width: 60px;
  height: 60px;
  top: -469px;
  left: 13px;
  gap: 3px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background: #e7e7e7;
  box-shadow: 0px 0px 30px 0px #00000080;
}

.user_button.pics > img {
  width: 19.91px;
  height: 17.42px;
}

.user_button.pics > p {
  width: 31px;
  height: 19px;
  font-size: var(--fs-secondary);
  line-height: 19.36px;
  text-align: left;
  background: #000000;
}

.user_button.likes {
  width: 60px;
  height: 60px;
  top: -469px;
  left: 193px;
  gap: 3px;
  border-radius: 30px 0px 0px 0px;
  background: #e7e7e7;
  box-shadow: 0px 0px 30px 0px #00000080;
}

.user_button.likes > img {
  width: 30px;
  height: 23.96px;
  gap: 0px;
  background: #ff5a79;
}

.user_button.likes > p {
  width: 21px;
  height: 19px;
  font-size: var(--fs-secondary);
  line-height: 19.36px;
  text-align: left;
  background: #000000;
}
