.user_box {
  height: 40px;
  min-width: 8%;
  gap: var(--isc-gap-userBox);
  justify-content: center;
  align-items: center;
  margin: var(--isc-margin-userBox);
  display: var(--isc-d-none);
}

.user_box button {
  border-radius: var(--isc-br-50);
  height: 100%;
  border: none;
  background-color: transparent;
}

.img_message,
.img_notification {
  height: 100%;
}

button.user_name {
  width: 40px;
  height: 100%;
  background-color: var(--isc-bg-user-btn);
  color: var(--isc-color-grey);
  border: none;
  flex-direction: var(--isc-fd-column);
  padding: var(--isc-padding-btn-userName);
}

.user_name > p {
  font-size: var(--isc-fs-primary);
}

.user_box button:hover,
.button_only_name:hover {
  background-color: var(--isc-bg-user-btn);
  box-shadow: var(--isc-bs-user-btn);
}

.button_only_name {
  width: 40px;
  height: 40px;
  font-size: var(--isc-fs-primary);
  background-color: var(--isc-bg-user-btn);
  color: var(--isc-color-grey);
  border-radius: var(--isc-br-50);
  border: var(--isc-b-none);
}

@media screen and (min-width: 600px) {
  .user_box {
    display: var(--isc-d-flex);
  }
  .button_only_name {
    display: none;
  }
}
